body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #ecf0f3;
    text-align: center;
    overflow: hidden;
    font-family: poppins;
}
.title{
    background-image: url(Backround.png);
    color: white;
}
#TDList{
    position: relative;
    border-radius: 20px;
    padding: 40px;
    box-sizing: border-box;
    background: #ecf0f3;
    box-shadow: -2px -2px 20px #cbced1, 2px 2px 20px white;
}
input::placeholder {
    color: gray;
}
#InputTask{
    background: #ecf0f3;
    height: 50px;
    border-radius: 50px;
    box-shadow: inset 6px 6px 6px #cbced1, inset -6px -6px 6px white;
}